@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --blue: #6998D1;

}
.container{
  
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: justify;
  text-justify: inter-word;
  min-height: 100vh;

}
footer{
  background-color: var(--blue);
  text-align: center;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

body{
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  font-size: 14px;
  background-color: #82a1b9;
}

.image{
  border-radius: 15px;
  max-width: 500px;
  width: 80%;
  margin: auto;
  display: block;
}

.list{
  width: 40%;
  background-color: var(--blue);
  height: 250px;
  float: left;
  margin: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

table{
    margin: auto;
    border-collapse: collapse;
    width: 70%;
}

table, th, td{
  border: 0.5px solid;
  border-style: dotted;
}

.p_table{
  background-color: var(--blue);
  margin: 2%;
  text-align: center;
  padding: 2%;
  clear: both;
}

a:visited{
  color:pink
}

a:hover {
  color:red;
}

a:focus{
  color:blue
}

.polaroid{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 0px 20px rgba(0,0,0,0.5);
  max-width: 600px;
  max-height: 420px;
  height: 100vh;
  width: 50vw;
  margin: auto;
  border-radius: 10%;
}
.polaroid a{
  padding-bottom: 20px;
  padding-top: 10px;
}
.polaroid img{
  max-width: 480px;
  max-height: 350px;
  height: 100vh;
  width: 40vw;
}

hr.dashed{
  border: 1px dashed white;
  width: 60%;
}
.landing-page{
  height: 100vh;
  width: 100%;
  background-image: url(../Images/tlo.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.landing-page a{
  text-decoration: none;
  color: cadetblue;
  background-color: rgba(163,245,243,1);
  padding: 15px;
  border-radius: 20px;
  font-size: 35px;
  transition: transform 0.5s, background-color 0.5s;
}
.landing-page a:hover{
  transform: scale(1.2);
  background-color: rgba(163,245,243,0.4);
}
.landing-page p b{
  font-size: 45px;
  margin: 0px 200px;
  float: left;
  text-align: center;
}
#info{
  font-size: 30px;
  margin: 0px 200px;
}
.nav-side-container{
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100vh;
  display: flex;
  align-items: center;

}
.nav-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-side a{
  margin: 10px;
  padding: 10px;
  background-color: white;
  color:cadetblue;
  font-size: 15px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-justify:auto;
  transition: background-color 1s, color 1s;
}
.nav-side a:hover{
  color: white;
  background-color: cadetblue;
}

@keyframes colors {
  0% {
    color: lightblue
  }
  50% {
    color: lightgray
  }
  100% {
    color: lightslategray;
  }
}
#zegar {
  width: 300px;
  height: 50px;
  font-size: 2em;
  font-style: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  animation: colors 5s infinite;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.active {
  background-color: #717171;
}
#sekcja_4{
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  min-height: 100vh;
}