header{
  background-color: #FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  position: sticky;
  top: 0;
}
#web-title{
  color: black;
  animation-name: smoothappeara;
  animation-duration: 3s;
}
#web-title:hover{
  animation-duration: 2s;
  animation-name: spin;
}
.nav-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 70px;
}
.img-logo{
  width: 95px;
  height: 95px;
  display: none;
  animation-name: smoothappearimg;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.img-logo:hover {
  animation-name: spin;
  animation-duration: 2s;
}

.nav-top a i{
  display: none;
}
.nav-top a{
  list-style: none;
  display: inline-block;
  padding: 9px 25px;
  background-color: rgba(252,246,246,1);
  border-radius: 50px;
  transition: background-color 3s;
  transition: transform 0.5s;
  text-decoration: none;
  color: black;
}

.nav-top a:hover{
  background-color: rgba(235,240,247,1);
  transform: scale(1.1);
}

@media screen and (max-width: 850px){
  #web-title{
    display: none;
  }
  .img-logo{
    display: inline;
  }
}
@media screen and (max-width: 700px ){
  .nav-top a span{
      display: none;
  }
  .nav-top a i{
    display: inline-block ;
  }
  #web-title{
    display: none;
  }
  .img-logo{
    display: inline;
  }
}
@keyframes smoothappearimg {
  from {width: 0px; height: 0px;}
  to {width: 95px; height: 95px;}
}
@keyframes smoothappeara {
  from {font-size: 0;}
  to {font-size: 25px;}
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); 
  }
}